:root {
  --blue-booki: #0065fc;
  --blue-background: #deebff;
  --grey-background: #f2f2f2;
  --grey-borders: #f6f6f6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* The submit button icon will be hidden for desktops and tablets */
/* It will be visible just for mobile phones */
/* The submit button text "Rechercher" will take its place */
.submit-button-icon {
  visibility: hidden;
  width: 0;
  height: 0;
}
/* The money symbol styling */
.money-symbol {
  font-weight: bold;
}
.populaires > .titlelogo > .pop-start-icon {
  font-size: 1.8vw;
}

/***Header styling**/
header {
  display: flex;
  width: 100%;
  padding: 0 3.8vw 1.3vw 3.8vw;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 2.6vw;
}
nav ul {
  display: flex;
  list-style: none;
  margin-right: 0.28vw;
}
nav ul a {
  display: flex;
  position: relative;
  padding: 3.15vw 2.25vw 0 2.25vw;
  text-decoration: none;
  color: black;
  opacity: 0.85;
  font-size: 1.1vw;
  font-weight: 500;
}
.link-left{
  color: var(--blue-booki);
  opacity: 1;
}
.link-left::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--blue-booki);
  opacity: 1;
  border-top: 0.2vw solid var(--blue-booki);
}

.link-right:hover{
  color: var(--blue-booki);
}
.link-right::after {
  content: "";
  display: flex;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 0.2vw solid var(--blue-booki);
  opacity: 1;
}
.link-right:hover::after{
  visibility: visible;
}
/* nav ul a::after {
  content: "";
  display: flex;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 0.2vw solid var(--blue-booki);
  opacity: 1;
}
nav ul a:hover {
  color: var(--blue-booki);
  opacity: 1;
}
nav ul a:hover::after {
  visibility: visible;
  opacity: 1;
} */
nav .nav-logo {
  display: flex;
  width: 7.1%;
  margin: 2.95vw 0 0 0.85vw;
}
nav .nav-logo img {
  display: flex;
  width: 100%;
}
header h1 {
  display: inline-flex;
  font-size: 1.5vw;
  font-weight: 700;
  margin-bottom: 0.55vw;
}
header p {
  display: flex;
  font-size: 1.1vw;
}

/*The Search menu box styling:
It is decomposed to the three follwing rows:
**search-box**
**filter**
**txt-bottom**
*/
.search-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 3.8vw;
}
.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1vw;
  width: 31.5%;
  height: 3.4vw;
  margin-bottom: 2.2vw;
}
.filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2.5vw;
  padding-left: 0.5vw;
}
.txt-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1vw;
  margin-bottom: 2.5vw;
  padding-left: 0.3vw;
}

/******The bottom text styling******/
.fa-info {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: white;
  margin-right: 0.8vw;
  width: 1.7vw;
  height: 1.7vw;
  border-radius: 50%;
  font-size: 0.9vw;
  border: solid gainsboro 0.1vw;
}

/* Search box styling:
All the elements of the search box 
are styled here
*/
.fas-search {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: var(--grey-background);
  border-radius: 1vw 0 0 1vw;
  padding: 0 1.3vw;
  height: 100%;
  font-size: 1.15vw;
}
.search-field {
  display: flex;
  flex: 1;
  outline: none;
  border: none;
  appearance: none;
  padding-left: 1.2vw;
  height: 100%;
  border: 0.12vw solid var(--grey-background);
}
.search-field::placeholder {
  color: black;
  opacity: 1;
  font-size: 1.2vw;
  font-weight: 700;
}
.submit-button {
  display: inline-flex;
  border: none;
  outline: none;
  color: white;
  background: var(--blue-booki);
  border-radius: 0 1vw 1vw 0;
  font-size: 1.2vw;
  padding: 0 1.25vw;
  height: 100%;
  font-weight: 700;
}
/* The filter-buttons styling
All the elements of the filter box are
styled here
*/
.filter h3 {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 2.5vw;
  font-size: 1.2vw;
  font-weight: 700;
}
.filter-buttons {
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
}
.button {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 0.9vw 1.5vw 0.9vw 4.3vw;
  margin-right: 1.5vw;
  border-radius: 5vw;
  font-size: 1.2vw;
  border: 0.2vw solid gainsboro;
}
.button:hover {
  background-color: var(--blue-booki);
  color: white;
}
.fas-button {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  color: var(--blue-booki);
  margin-right: 0.8vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: var(--blue-background);
  font-size: 1.33vw;
  position: absolute;
  top: -4%;
  left: -1%;
}

/* The  presentation section styling
All the elements of the  presentation sectio are
styled here
*/
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 4vw;
  padding: 0 3.9vw;
  width: 100%;
  height: auto;
}
.hebergement {
  display: flex;
  flex-direction: column;
  width: 66%;
  padding: 3vw 2.5vw;
  border-radius: 1.3vw;
  background-color: var(--grey-background);
}
.populaires {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  padding: 3vw 2.5vw;
  border-radius: 1.3vw;
  background-color: var(--grey-background);
}
.hebergement-h2 {
  display: flex;
  align-items: center;
  font-size: 1.35vw;
  font-weight: 700;
  margin-bottom: 1.5vw;
}
.hebergement > .heb-pres {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hebergement-h3 {
  display: inline-flex;
  align-items: center;
  font-size: 1vw;
  margin-top: 0.5vw;
}
.heb-pres > .heb-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 31%;
  height: 14vw;
  margin-bottom: 2vw;
  background-color: white;
  border-radius: 1.4vw;
  text-decoration: none;
  color: black;
}
.heb-pres > .heb-link:hover {
  transform: scale(1.07);
}

.heb-link > .heb {
  background-color: white;
  padding: 0.4vw;
  border-radius: 1.4vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.heb > .heb-img-small {
  display: flex;
  border-radius: 1.1vw 1.1vw 0 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.heb > .heb-infos {
  padding-left: 0.8vw;
  padding-top: 0.4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 40%;
}
.heb-infos h3 {
  font-size: 1.2vw;
}
.heb-infos p {
  font-size: 0.9vw;
}

.populaires > .titlelogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.3vw;
  font-weight: 700;
}
.populaires > .hebp-pres {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hebp-pres > .hebp-link {
  border-radius: 1.5vw;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vw;
  margin-top: 2vw;
}
.hebp-pres > .hebp-link:hover {
  transform: scale(1.07);
}
.hebp-link > .hebp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0.45vw;
  border-radius: 1.5vw;
  background-color: white;
}
.hebp > .hebp-img-small {
  border-radius: 1.1vw 0 0 1.1vw;
  display: flex;
  flex-direction: column;
  width: 38%;
  height: 100%;
  object-fit: cover;
}

.hebp > .hebp-infos {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  padding: 0.4vw 0;
}
.hebp-infos h3 {
  display: flex;
  width: 100%;
  font-size: 1.2vw;
  margin-bottom: 0.4vw;
}
.hebp-infos > .hebp-infos-txt {
  display: flex;
  width: 100%;
  font-size: 0.9vw;
  margin-bottom: 2.9vw;
}
.hebp-infos > .hebp-infos-stars {
  display: flex;
  width: 100%;
  display: flex;
}
.hebp-infos > .hebp-infos-stars > .fa-star {
  font-size: 1vw;
}

/* Activities section Stylinge here */
.activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 3.9vw;
  margin-bottom: 3.9vw;
  border-radius: 1.4vw;
}
.activities h2 {
  display: flex;
  margin-bottom: 1.5vw;
  font-size: 1.5vw;
  font-weight: 700;
}
.activities > .activities-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.activities-presentation > .slot-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 30.5vw;
  border-radius: 1.4vw;
  color: black;
  text-decoration: none;
  border: 0.15vw solid var(--grey-borders);
}
.activities-presentation > .slot-link:hover {
  transform: scale(1.04);
}
.slot-link > .slot1 {
  border-radius: 1.4vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.slot-link > .slot1 > .slot-link-img-small {
  border-radius: 1.4vw 1.4vw 0 0;
  display: flex;
  width: 100%;
  height: 88.5%;
  object-fit: cover;
}
.slot-link > .slot1 > .slot1-h3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11.5%;
  border-radius: 0 0 1.4vw 1.4vw;
  font-size: 1.15vw;
  padding-left: 1.5vw;
}
.activities-presentation > .slot2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 23%;
  border-radius: 1.4vw;
}
.slot2 > .slot2-top-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16.5vw;
  border-radius: 1.4vw;
  margin-bottom: 2.2vw;
  border: 0.15vw solid var(--grey-borders);
  color: black;
  text-decoration: none;
}
.slot2-top-link:hover {
  transform: scale(1.04);
}
.slot2 > .slot2-bottom-link {
  display: flex;
  width: 100%;
  height: 11.88vw;
  border: 0.15vw solid var(--grey-borders);
  border-radius: 1.4vw;
  color: black;
  text-decoration: none;
}
.slot2-bottom-link:hover {
  transform: scale(1.04);
}
.slot2-top-link > .slot2-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1.4vw;
}
.slot2-bottom-link > .slot2-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.4vw;
}
.slot2-top-link > .slot2-top > .slot2-top-img-small {
  border-radius: 1.4vw 1.4vw 0 0;
  display: flex;
  width: 100%;
  height: 78%;
  object-fit: cover;
}
.slot2-top-link > .slot2-top > .top-h3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 22%;
  border-radius: 0 0 1.4vw 1.4vw;
  font-size: 1.15vw;
  padding-left: 1.5vw;
}
.slot2-bottom-link > .slot2-bottom > .slot2-bottom-img-small {
  border-radius: 1.4vw 1.4vw 0 0;
  display: flex;
  width: 100%;
  height: 70.5%;
  object-fit: cover;
}
.slot2-bottom-link > .slot2-bottom > .bottom-h3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 29.5%;
  border-radius: 0 0 1.4vw 1.4vw;
  font-size: 1.15vw;
  padding-left: 1.5vw;
}
.slot-link > .slot3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1.4vw;
}
.slot-link > .slot3 > .slot-link-img-small {
  border-radius: 1.4vw 1.4vw 0 0;
  display: flex;
  width: 100%;
  height: 88.5%;
  object-fit: cover;
}
.slot-link > .slot3 > .slot3-h3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11.5%;
  border-radius: 0 0 1.4vw 1.4vw;
  font-size: 1.15vw;
  padding-left: 1.5vw;
}
.activities-presentation > .slot4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 23%;
  border-radius: 1.4vw;
}
.slot4 > .slot4-top-link {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vw;
  border-radius: 1.4vw;
  margin-bottom: 2.2vw;
  border: 0.15vw solid var(--grey-borders);
}
.slot4-top-link:hover {
  transform: scale(1.04);
}
.slot4 > .slot4-bottom-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14.5vw;
  border-radius: 1.4vw;
  border: 0.15vw solid var(--grey-borders);
}
.slot4-bottom-link:hover {
  transform: scale(1.04);
}
.slot4-top-link > .slot4-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.slot4-bottom-link > .slot4-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.slot4-top-link > .slot4-top > .slot4-top-img-small {
  border-radius: 1.4vw 1.4vw 0 0;
  display: flex;
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.slot4-top-link > .slot4-top > .top-h3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  border-radius: 0 0 1.4vw 1.4vw;
  font-size: 1.15vw;
  padding-left: 1.5vw;
}
.slot4-bottom-link > .slot4-bottom > .slot4-bottom-img-small {
  border-radius: 1.4vw 1.4vw 0 0;
  display: flex;
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.slot4-bottom-link > .slot4-bottom > .bottom-h3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  border-radius: 0 0 1.4vw 1.4vw;
  font-size: 1.15vw;
  padding-left: 1.5vw;
}
footer {
  width: 100%;
  background-color: var(--grey-background);
  padding: 3vw 3.9vw;
}
footer > .ftr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.ftr h2 {
  margin-bottom: 1vw;
  font-size: 1.3vw;
}
.ftr p {
  margin-bottom: 1vw;
  font-size: 1vw;
}
.ftr > .ftr-right {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.ftr > .ftr-middle {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.ftr > .ftr-left {
  display: flex;
  flex-direction: column;
  width: 34%;
}
.ftr-link {
  text-decoration: none;
  color: black;
}
.ftr-link:hover {
  color: orangered;
  text-decoration: none;
}
.fa-star {
  color: var(--blue-booki);
}
.fa-star-off {
  color: gainsboro;
}
